/* Design Tokens - CSS Variables */

:root {
  --background: #ffffff;
  --background-muted: #f8f8f8;
  --foreground: #0f1b28;
  --card: #f8fafc;
  --card-foreground: #0f1b28;
  --popover: #ffffff;
  --popover-foreground: #0f1b28;
  --warning: #ec8351;

  --primary: #171717;
  --primary-foreground: #6b7280;
  --secondary: #ff4174;
  --secondary-foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: #c5c3c3;
  --accent: #f8fafc;
  --accent-foreground: #171717;
  --destructive: #dc362e;
  --destructive-foreground: #6b7280;

  --border: #1c1b1f1f;
  --input: #aeaaae;
  --ring: #0f1b28;

  --chart-1: #e76f51;
  --chart-2: #2a9d8f;
  --chart-3: #264653;
  --chart-4: #e9c46a;
  --chart-5: #f4a261;

  --radius: 0.5rem;

  --primary-30: #007ac5;
  --primary-40: #0082d1;
  --primary-50: #0090e8;
  --primary-60: #2ba3ec;
  --primary-70: #55b5f0;
  --primary-80: #80c7f3;
  --primary-90: #aadaf7;
  --primary-95: #d4edfb;
  --primary-98: #eaf6fd;

  /*NEUTRAL*/
  --neutral-10: #1c1b1f;
  --neutral-20: #313033;
  --neutral-30: #484649;
  --neutral-40: #605d62;
  --neutral-50: #aeaaae;
  --neutral-60: #939094;
  --neutral-70: #aeaaae;
  --neutral-80: #c9c5ca;
  --neutral-90: #ecebec;
  --neutral-98: #eaf6fd;
  --neutral-100: #f8fafc;

  --info-50: #04b0ea;
  --info-60: #2ebded;
  --info-70: #d2f3fe;

  --success-40: #126b26;
  --success-60: #44c05f;
  --success-80: #d8f8df;

  --danger-50: #b3261e;
  --danger-60: #dc362e;
  --danger-70: #f95d56;
  --danger-80: #f8d9d8;

  --checkbox: #abc4d2;
}

.dark {
  --background: #0f1b28;
  --background-muted: #1c2833;
  --foreground: #f2f2f2;
  --card: #0f1b28;
  --card-foreground: #f2f2f2;
  --popover: #1c2833;
  --popover-foreground: #f2f2f2;
  --warning: #ec8351;

  --primary: #f2f2f2;
  --primary-foreground: #2b1d1d;
  --secondary: #ff4174;
  --secondary-foreground: #f2f2f2;
  --muted: #1c2833;
  --muted-foreground: #5c5c5c;
  --accent: #0f1b28;
  --accent-foreground: #f2f2f2;
  --destructive: #f95d56;
  --destructive-foreground: #f2f2f2;

  --border: #ffffff33;
  --input: #ffffff33;
  --ring: #d4d4d4;

  --chart-1: #3b82f6;
  --chart-2: #0ea5e9;
  --chart-3: #f59e0b;
  --chart-4: #8b5cf6;
  --chart-5: #ec4899;

  --neutral-10: #ecebec;
  --neutral-20: #c9c5ca;
  --neutral-30: #aeaaae;
  --neutral-40: #d4edfb;
  --neutral-50: #6b778c;
  --neutral-60: #605d62;
  --neutral-70: #484649;
  --neutral-80: #313033;
  --neutral-90: #1c1b1f;
  --neutral-98: #1c1b1f;
  --neutral-100: #0f1b28;

  --checkbox: #aadaf7;
}
